[submodule "src/thirdparty/imgui"]
	path = src/thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/thirdparty/imgui/imgui"]
	path = src/thirdparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
